.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.navbar, .sticky {
  background-color: rgba(10, 4, 22, 0.7) !important; 
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4) !important;
  z-index: 9999 !important;
  transition: all 0.3s ease-in-out !important;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500 !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.project-card-view, .tech-icons {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) !important;
  border-radius: 15px !important;
  transition: 0.3s ease !important;
}

.project-card-view h1, 
.project-card-view p, 
.project-card-view .card-text,
.tech-name,
.resume-section h1,
.resume-section h2,
.resume-section .purple,
.resume-section li {
  mix-blend-mode: normal !important;
  color: white !important; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.resume-section {
  background-image: var(--section-background-color) !important;
}

.resume {
  background: rgba(0, 0, 0, 0.2) !important;
  padding: 20px !important;
  border-radius: 10px;
  display: flex !important;
  justify-content: center !important;
}

.download-btn {
  background-color: #623686 !important;
  border: none !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4) !important;
}